.header { grid-area: header; }
.main { grid-area: main; }
.contact {grid-area: contact;}
.gallery {grid-area: gallery}
.footer { grid-area: footer; }

.body-one-column {
    display: grid;
    grid-template-areas: "header"
                         "gallery"
                         "main"
                         "contact"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 
                        4fr
                        1/2fr
                        100px
                        30px;
    min-height: 100vh;

    .header {
        background-color: #ffdb3a;
        font-size: 2rem;
        font-weight: 700;
        font-style: normal;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact {
        background-color: #bcafff;
        font-size: 2rem;
        font-weight: 700;
        font-style: normal;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer {
        background-color: rgb(100, 100, 100);
        color: #fff;
        font-size: 1.2rem;
        font-style: normal;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header,
    .main {
        padding: 15px;
    }
    
}




